
{% if scenarii is not null %}
    <ul class="nav nav-pills nav-stacked">
        {% for scenario in scenarii %}
            <li>
                <i class="glyphicon glyphicon-tags">
                <a href="{{ path('scenario', {'id': scenario.id }) }}">{{ scenario.titre }}</a>
                </i>
            </li>
        {% endfor %}
    </ul>
{% endif %}