{% extends 'layout.html.twig' %}

{% block title %}Edito{% endblock %}

{% block edito_body %}

<div class="example-wrapper">
    <h2>{{ edito.titre}} ✅</h2>
    <div class="well">
        {{ edito.contenu|raw }}
        <p class="text-right"><dfn>{{ edito.auteur.firstname }} {{ edito.auteur.lastname }}</dfn></p>
    </div>
</div>
{% endblock %}
